services:
  backend:
    container_name: kiwissh_backend
    image: ghcr.io/casudo/kiwissh-backend:<tag>
    restart: unless-stopped
    ### Uncomment ports if you want to access the API docs via http://<IP>:8000/docs
    # ports:
    #   - 8000:8000
    volumes:
      ### Required: Mount the kiwissh.yaml into the container
      - /PATH_TO_CONFIG/kiwissh.yaml:/config/kiwissh.yaml
      ### Required: Mount internal "git.local_path" to a volume or bind mount
      ## CRITICAL: IF YOU DO NOT MOUNT THIS FOLDER, ALL LOCAL BACKUPS ARE DELETED ON CONTAINER RESTART!
      - /PATH_TO_BACKUPS/kiwissh_backups/:/config/backups/
      ### Optional: Mount source file if used
      # - /PATH_TO_CONFIG/devices.csv:/config/sources/devices.csv
      ### Optional: Mount your own custom vendor files or ssh_profiles to the /config folder
      # - /PATH_TO_CONFIG/config/vendors/customer_aaa_ciscoios.yaml:/config/vendors/customer_aaa_ciscoios.yaml
      # - /PATH_TO_CONFIG/config/ssh_profiles.yaml:/config/ssh_profiles.yaml
      ### Optional: mount SSH material for remote git pushes or device login (needs to be uid:gid 1000:1000)
      # - /PATH_TO_CONFIG/ssh_material:/home/kiwissh/.ssh

  frontend:
    container_name: kiwissh_frontend
    image: ghcr.io/casudo/kiwissh-frontend:<tag>
    restart: unless-stopped
    ports:
      - 8123:8080
    depends_on:
      - backend
