services:
  backend:
    container_name: kiwissh_backend
    image: ghcr.io/casudo/kiwissh-backend:<tag>
    restart: unless-stopped
    ### Uncomment ports if you want to access the API docs via http://<IP>:8000/docs
    # ports:
    #   - 8000:8000
    volumes:
      - PATH_TO_CONFIG/config:/config
    ### Optional: mount SSH material for remote git pushes or device login (needs to be uid:gid 1000:1000)
      # - /PATH_TO_CONFIG/ssh_material:/home/kiwissh/.ssh/

  frontend:
    container_name: kiwissh_frontend
    image: ghcr.io/casudo/kiwissh-frontend:<tag>
    restart: unless-stopped
    ports:
      - 8123:8080
    depends_on:
      - backend
