.env
.env.*
.env.example
Dockerfile_backend
.dockerignore

__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
*.so
.Python

venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/

.git/
.vscode/
.idea/
*.log
